<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-inverse navbar-primary" style="background-color: #ffc107; color: white">
            <a class="navbar-brand" href="#">Character Creator</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/add">Build Character</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/characters">Your Characters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:action="@{/logout}" href="/" method="get">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br/>
        <img th:src="@{/images/rpgcc.png}" class="logo d-block mx-auto" alt="Logo" />
        <h3 th:utext="${userName}"></h3>
        <h4>Start by building a new character from the button below or user the navigation to see the characters you've created!</h4>
        <br/>
        <a href="/admin/add"><button class="btn btn-success">Build Character</button></a>
    </div>
</body>
</html>